<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/head :: head(title='Home page')"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<section class="main-content">
    <div class="container">
        <div class="row row-flex">
            <div class="col-md-12">
                <div class="content">
                    <div th:if="${error != null}" class="error" th:text="${error}"></div>

                    <h3 class="head-content">Books</h3>

                    <div th:if="${books != null}" class="wrapper-book">
                        <div th:each="book : ${books.getContent()}" class="book">
                            <div class="book-cover">
                                <img src="#" th:src="@{http://localhost:8080{photo}(photo=${book.photo.path})}" alt="alt" />
                            </div>
                            <p class="title" th:text="${book.title}"></p>
                            <p class="price" th:inline="text">$ [[${book.price}]]</p>
                            <button class="btn btn-outline-primary">Add to Cart</button>
                        </div>
                    </div>

                    <nav th:if="${books != null}" >
                        <ul class="pagination justify-content-center">
                            <li th:class="${books.offset == 0} ? 'disabled page-item'" class="page-item">
                                <a class="page-link" th:href="@{/(offset = ${books.offset - 1})}">Previous</a>
                            </li>

                            <li th:each="page : ${#numbers.sequence(1, books.totalPages)}" th:class="${books.offset == (page - 1)} ? 'active page-item'" class="page-item">
                                <a class="page-link" th:href="@{/(offset = ${page - 1})}" th:text="${page}"></a>
                            </li>

                            <li th:class="${books.offset + 1 == books.totalPages} ? 'disabled page-item'" class="page-item">
                                <a class="page-link"  th:href="@{/(offset = ${books.offset + 1})}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>