<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/head :: head(title='Registration')"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <div th:if="${error != null}" class="error" th:text="${error}"></div>

                    <h3 class="head-content">Registration</h3>

                    <form action="#" th:action="@{/registration}" method="POST" th:object="${userCreate}" name="user" class="form-registration form-horizontal">

                        <div class="form-group">
                            <label for="surname" class="col-sm-3 control-label">Surname</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="surname" th:field="*{surname}" placeholder="Surname" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Name" required="required" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-12">
                                <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Email" required="required" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="pass" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="pass" th:field="*{password}" placeholder="Password" required="required" />
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="pass2" class="col-sm-5 control-label">Confirm Password</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="pass2" th:field="*{confirmPassword}" placeholder="Confirm Password" required="required" />
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-12">
                                <button type="submit" class="btn-registration btn btn-lg btn-primary btn-block">Register User</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>