<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments/head :: head(title='User page')"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <nav class="left-menu">
                    <p th:text="${user.name}"></p>
                    <hr />
                    <div class="ava">
                        <img th:if="${user.photo != null}" th:src="${user.photo.path}" src="#" alt="Аватарка" /><br/>
                        <a href="#">Поменять аватарку</a>
                    </div>
                    <ul class="menu-person">
                        <li><a href="#">Общая информация</a></li>
                        <li><a href="#">Корзина</a></li>
                        <li><a href="#">Настройки</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-8">
                <div class="content">
                    <h3 class="head-content">Ваш профиль</h3>

                    <ul>
                        <li th:if="${user.surname != null}">Surname: <span th:text="${user.surname}"></span></li>
                        <li th:if="${user.name != null}">Name: <span th:text="${user.name}"></span></li>
                        <li th:if="${user.birthday != null}">Birthday: <span th:text="${user.birthday}"></span></li>
                        <li th:if="${user.email != null}">Email: <span th:text="${user.email}"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>