@import "login.css";
@import "registration.css";
@import "user.css";
@import "error.css";

html, body {
    height: 100%;
    width: 100%
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #24292e;
    min-height: 60px;
}

header h3 {
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 19px;
}

header h3 a, header .button-login a {
    color: #dddddd;
}

header h3 a:hover,
header .button-login a:hover {
    color: #ffffff;
    text-decoration: none;
}

header h3 i.fa-home {
    margin-right: 5px;
}

header .button-login {
    font-size: 21px;
    float: right;
    margin-top: 14px;
}

.main-content {
    flex: 1 0 auto;
    background-color: #dddddd;
}

.main-content .content {
    background-color: #fafafa;
    margin-top: 30px;
    margin-bottom: 30px;

    padding: 40px 60px 50px;
    min-height: 500px;
}

.main-content h3.head-content {
    text-align: center;
    margin-bottom: 10px;
}

.main-content .wrapper-book{
    margin: 0 auto;
}

.main-content .book {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 10px 10px 20px;
    margin: 15px 15px 20px;
    max-width: 210px;
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    position: relative;
}

.main-content .book .book-cover {
    text-align: center;
}

.main-content .book .book-cover img {
    height: 70%;
    max-width: 100%;
    max-height: 30vh;
}

.main-content .book p.title {
    margin: 8px;
}

.main-content .book p.price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

footer {
    flex: 0 0 auto;

    background-color: #f0f0f0;
    width: 100%;
    min-height: 50px;
    font-family: 'Arial', 'Helectica', sans-serif;
    font-size: 14px;
}

footer p {
    margin-top: 15px;
    margin-bottom: 15px;
}